.footer{
  padding: 30px 4%;
  width: 100%;
  margin: 0 auto;
  background-color:  #ACC3A6;
}

.footer ul{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin-bottom: 30px;
  list-style: none;
  
}
.copyright-text{
  color: gray;
  font-size: 14px;
 
  
}


